[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-secret-manager = "==2.7.2"
requests = "==2.26.0"

[dev-packages]

[requires]
python_version = "3.9"
